# this file uses prebuilt image in dockerhub
services:
  jekyll:
    image: amirpourmand/al-folio
    container_name: al-folio-website
    command: bash -c "
      bundle install
      && bundle exec jekyll serve --watch --port=8080 --host=0.0.0.0 --livereload --force_polling --verbose --trace"
    ports:
      - 8080:8080
    volumes:
      - .:/srv/jekyll
